{# Photoreal engine for pages that hold a [data-pv-url] element. Order matters. #}
<script src="{{ url_for('static', filename='js/photoreal/layer-map.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoreal/scene-lighting.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoreal/interior-gen.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoreal/shaders.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoreal/renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoreal/photoreal-core.js') }}"></script>
<script src="{{ url_for('static', filename='js/public-visualiser.js') }}"></script>
